body {
    background-color: none;
    color: #000000;
    margin: 0;
    text-align: center;
    font-size: 22px;
}

/*
#b1 {
    background-image: url(Uchiage-Hanabi/pf.jpg);
}

#b2 {
    background-image: url(lemon/lemon.jpg);
}
*/
#editby {
    color: #000000;
    text-align: center;
    float: right;
    align-items: center;
    align-content: center;
    flex-direction: column;
    border-radius: 20px;
    width: 190px;
    font-size: 12px;
}
