body {
  background-color: black;
  color: #FFFFFF;
  margin: 0;
  text-align: center;
  font-size: 22px;
}

#video0 {
  width: 100%;
  height: 100%;
  border-radius: 0px;
}

#link {
  color:black;
  text-align: center;
  background-color: whitesmoke;
  font-size: 1rem;
  align-items: center;
  align-content: center;
  flex-direction: column;
  border-radius: 20px;
  width: 300px;
  text-decoration:none;
  margin: auto;
}

#songinfo {
  color: #FFFFFF;
}

.article {
  color: #FFFFFF;
}

#bg {
  background-color: #000000;
}

#editby {
  color: white;
  text-align: center;
  float: right;
  align-items: center;
  align-content: center;
  flex-direction: column;
  border-radius: 20px;
  width: 190px;
  font-size: 12px;
}

.girl {
  color: pink;
}

.boy {
  color: aqua;
}